<style>
	#whole_page{background-color:#eee;color:#444;padding: 20px;border: 2px solid #222;}
	.notice{background-color:#f88;color:#400}
	.new_supplement{background-color:#ccc;border: 1px solid #222;padding: 5px 20px;}
	.content_edit_body{background-color:#aaa;border: 1px solid #444;padding: 10px;}
    .image_links a{color:transparent}
</style>
<div id="whole_page">
      <%= render :partial => 'content_editor' %>	
</div>
