<% semantic_form_for :lab_report_type, LabReportType.new, :url => 'lab_report_types' do |form| %>
	<%= form.inputs %>
	<%= form.buttons %>
<% end %>
<div>
	<% lab_report_type_counter = 0 -%>
	<% @lab_report_types.each do | lab_report_type | -%>
    	<div>
        	<span class='image_links'>
        		<%= link_to(image_tag('/images/delete-icon-transparent.png'), "javascript:deleteLabReportType('" + lab_report_type.id.to_s + "');", {:style => "float:right;"}) %>
          	</span>
          	<%= render :partial => 'shared/edit_object_field', :locals => {:object => lab_report_type, :field => 'name', :redraw => 'lab_report_types', :counter => lab_report_type_counter} %>
      	</div>
		<% lab_report_type_counter += 1 -%>
	<% end -%>
</div>
<script>
  function deleteLabReportType(id)
  {
      new Ajax.Request('/diagnostics_content_editor/delete_lab_report_type?id=' + id);
  }
</script>