<style>
	#legend {width:250px;margin:25px;}
	#legend table {text-align:left;}
	#legend td {border:1px solid #eee;text-align:left;}
</style>
<div id='trend_analysis' class='modal_window close_modal' style="z-index:5;position:fixed;left:200px;top:200px;width:600px;height:400px;background-color:#eef">
	<div id="placeholder"  style="width:600px;height:300px;"></div>
	<div id="legend"></div>
</div>
