<div id='trend_analysis2' class='modal_window close_modal' style="z-index:5;position:fixed;left:200px;top:200px;width:600px;height:400px;background-color:#bdf">
    <div id="placeholder" style="width:600px;height:300px;"></div>
</div>

