/* -------------------------------------------------------------------------------------------------

Load this stylesheet after formtastic.css in your layouts to override the CSS to suit your needs.
This will allow you to update formtastic.css with new releases without clobbering your own changes.

For example, to make the inline hint paragraphs a little darker in color than the standard #666:

form.formtastic fieldset > ol > li p.inline-hints { color:#333; }

HINT:
The following style may be *conditionally* included for improved support on older versions of IE(<8)
form.formtastic fieldset ol li fieldset legend { margin-left: -6px;}

--------------------------------------------------------------------------------------------------*/

form.formtastic ol, form.formtastic ul { list-style:none;border:1px solid blue; }
form.formtastic fieldset.buttons li { overflow:none; padding:5px;border:1px solid red; }
form.formtastic fieldset > ol > li { padding:5px;overflow:none; } /* clearing contained floats */
